In [1]:
import pandas as pd
import numpy as np
import os
import glob

# Check Fold


> ## üìå ‡πÉ‡∏ä‡πâ‡∏Ñ‡πà‡∏≤ MCV, MCH, Hb ‡πÄ‡∏ó‡∏£‡∏ô ML 
> ## üìå ‡πÉ‡∏ä‡πâ‡∏†‡∏≤‡∏û 2dFFT image 3 channels 

- ü©∏‡πÅ‡∏ö‡∏ö 2 ‡πÇ‡∏£‡∏Ñ (E, M)

### üìÇ DATA : ‡∏Ñ‡πà‡∏≤‡∏à‡∏≤‡∏Å‡∏ú‡∏• Lab

In [2]:
# Read excel file with sheet name
dict_df = pd.read_excel('/home/kannika/code/Rheology2023/Rheology_Blood/All lab results (Blood viscosity work)3.xlsx', 
                   sheet_name=['Patients_‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°','Patients_‡πÑ‡∏°‡πà‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°', 'Normal'], header=2)
dict_df

{'Patients_‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°':         No.  Code         HN        AGE          PC  PS activity    Free PS  \
 0         1  HN01  2045512.0  29.000000   76.800000    43.000000  58.600000
 1         2  HN02  4045280.0  21.000000  100.400000    58.800000  70.600000
 2         3  HN03  3024257.0  41.000000   75.600000    52.500000  57.900000
 3         4  HN04  1257101.0  40.000000   31.700000    57.700000  59.300000
 4         6  HN06  1797136.0  32.000000   43.700000    41.100000  77.300000
 5         7  HN07  2234214.0  50.000000   66.400000    54.500000  62.100000
 6        12  HN12  1110168.0  45.000000   87.800000    39.300000  60.000000
 7        13  HN13  3949905.0  23.000000   50.400000    37.000000  83.600000
 8        16  HN16  1665191.0  35.000000   79.000000    47.400000  59.100000
 9        17  HN17  2272494.0  27.000000   47.600000    34.200000  59.600000
 10       19  HN19  1513782.0  36.000000   55.500000    83.000000  76.600000
 11       23  HN23  2028715.0  29.000000   46.700000    51.900000  62.800000
 12       24  HN24  1705398.0  34.000000   36.000000    38.600000  72.700000
 13       25  HN25  1326907.0  38.000000   58.900000    53.900000  78.600000
 14       27  HN27  2440861.0  24.000000   69.000000   106.800000  80.800000
 15       28  HN28  1346362.0  38.000000   69.900000    58.100000  77.500000
 16       32  HN32  3181779.0  35.000000   59.000000    27.300000  56.200000
 17       36  HN36  2985611.0  40.000000   56.400000    75.700000  78.900000
 18       37  HN37  4032217.0  33.000000   50.000000    70.600000  55.100000
 19       39  HN39  1776763.0  46.000000   73.500000    57.200000  62.100000
 20       40  HN40   742193.0  53.000000   77.700000    83.000000  96.500000
 21       44  HN44  3255610.0  26.000000   73.600000    39.400000  39.600000
 22      NaN   NaN        NaN        NaN         NaN          NaN        NaN
 23      NaN   NaN        NaN        NaN         NaN          NaN        NaN
 24      NaN   NaN        NaN        NaN         NaN          NaN        NaN
 25      NaN   NaN        NaN        NaN         NaN          NaN        NaN
 26  Average   NaN        NaN  35.227273   62.981818    55.045455  67.522727

            Hb        Hct           WBC  ...       TSH       FT4       FT3  \
 0    6.000000  19.700000  12590.000000  ...       1.1      0.94      2.98
 1    7.200000  23.600000  17840.000000  ...      1.23      0.87      2.61
 2    9.000000  28.600000  12640.000000  ...      1.72      1.52      2.72
 3    7.600000  23.700000  13910.000000  ...     0.837      1.21      2.61
 4    8.200000  24.800000  16180.000000  ...      2.14      1.35      2.98
 5    8.200000  24.300000  10710.000000  ...     0.923      1.08      2.34
 6    9.800000  30.600000  14450.000000  ...     0.762      1.18      2.76
 7    5.800000  18.000000  15240.000000  ...     0.934      0.85      3.66
 8   10.600000  32.700000  13530.000000  ...      1.62      1.12      3.19
 9    7.100000  21.300000  16810.000000  ...      1.46      0.95      3.02
 10   8.900000  27.900000  10050.000000  ...      2.35      1.15      2.66
 11   5.000000  15.900000  12230.000000  ...         -         -         -
 12   7.400000  27.000000  16500.000000  ...      3.65      1.19      3.07
 13   7.600000  24.000000  13780.000000  ...      4.11      1.09      2.99
 14   7.800000  24.900000   9710.000000  ...       2.3      1.07      3.62
 15  10.000000  33.400000   5980.000000  ...     0.535      1.05      2.84
 16   7.700000  26.700000  11470.000000  ...      2.03      0.86      2.95
 17   6.900000  22.700000  18840.000000  ...         -         -         -
 18   6.500000  21.300000  18000.000000  ...         -         -         -
 19   6.400000  21.700000  14410.000000  ...      2.06      1.15       2.9
 20   7.800000  25.200000  10740.000000  ...      3.77      1.25      2.69
 21   7.000000  21.900000   7750.000000  ...      3.23      0.95      2.74
 22        NaN        NaN           NaN  ...       NaN       NaN       NaN
 23        NaN        NaN           NaN  ...       NaN       NaN       NaN
 24        NaN        NaN           NaN  ...       NaN       NaN       NaN
 25        NaN        NaN           NaN  ...       NaN       NaN       NaN
 26   7.659091  24.540909  13334.545455  ...  1.934789  1.096316  2.912105

     Cortisol  ABO  Rh(D)   Albumin  Globulin  Code.1  typeBEvsBM
 0       8.74    A    Pos  4.700000  3.700000    HN01           E
 1       10.3    A    Pos  4.600000  3.300000    HN02           E
 2        1.6    O    Pos  4.400000  3.700000    HN03           E
 3       10.8    B    Pos  4.500000  3.900000    HN04           E
 4       3.77    O    Pos  3.800000  3.000000    HN06           E
 5       6.23    O    Pos  3.900000  4.200000    HN07           E
 6       2.26    B    Pos  4.300000  3.300000    HN12           E
 7       11.4    O    Pos  4.100000  4.200000    HN13           E
 8        8.6    B    Pos  4.200000  4.000000    HN16           E
 9       6.53    O    Pos  4.400000  4.100000    HN17           E
 10      6.92    O    Pos  4.700000  4.800000    HN19           M
 11      5.59    O    Pos  4.400000  3.400000    HN23           E
 12      5.58    B    Pos  3.900000  4.600000    HN24           M
 13      5.98    B    Pos  4.700000  3.700000    HN25           M
 14      11.5    O    Pos  5.000000  3.400000    HN27           E
 15      6.76    O    Pos  4.700000  3.300000    HN28           M
 16      14.9    O    Pos  4.400000  3.500000    HN32           E
 17         -    -      -       NaN       NaN    HN36           M
 18         -    O    Pos  4.200000  4.400000    HN37      AEBart
 19      27.8    O    Pos  3.800000  4.300000    HN39           E
 20      5.28    -      -  4.200000  2.700000    HN40           M
 21      26.3    -      -  4.000000  4.000000    HN44           E
 22       NaN  NaN    NaN       NaN       NaN     NaN         NaN
 23       NaN  NaN    NaN       NaN       NaN     NaN         NaN
 24       NaN  NaN    NaN       NaN       NaN     NaN         NaN
 25       NaN  NaN    NaN       NaN       NaN     NaN         NaN
 26     9.342  NaN    NaN  4.328571  3.785714     NaN         NaN

 [27 rows x 51 columns],
 'Patients_‡πÑ‡∏°‡πà‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°':         No.  Code         HN        AGE         PC  PS activity    Free PS  \
 0         5  HN05  1720866.0  33.000000  37.300000    37.000000  51.500000
 1         8  HN08  2822375.0  23.000000  74.200000    60.700000  67.400000
 2         9  HN09  4122237.0  20.000000  80.800000    66.900000  65.600000
 3        10  HN10  3780770.0  49.000000  79.100000    51.200000  53.400000
 4        11  HN11  1853081.0  47.000000  72.200000    70.200000  74.800000
 5        14  HN14  2029906.0  29.000000  58.100000    59.400000  86.300000
 6        15  HN15  1859553.0  56.000000  91.500000    61.200000  65.600000
 7        18  HN18   674575.0  59.000000  52.000000    41.100000  54.000000
 8        20  HN20  3614696.0  32.000000  60.100000    58.900000  52.200000
 9        21  HN21  2012160.0  56.000000  55.700000    44.600000  51.200000
 10       22  HN22  3150739.0  39.000000  52.500000    50.600000  56.700000
 11       26  HN26  3931713.0  31.000000  50.100000    58.400000  43.600000
 12       29  HN29  1818459.0  49.000000  50.800000    42.800000  42.900000
 13       30  HN30  3233852.0  21.000000  73.300000    32.900000  38.200000
 14       31  HN31  1057314.0  52.000000  58.200000    40.600000  55.500000
 15       33  HN33  2589962.0  22.000000  75.900000    51.900000  68.900000
 16       34  HN34  2544749.0  22.000000  63.400000    65.500000  65.200000
 17       35  HN35  3206213.0  51.000000  64.100000    52.600000  48.300000
 18       38  HN38  2500316.0  26.000000  64.400000    65.000000  60.800000
 19       41  HN41  3584770.0  42.000000  51.400000    72.900000  77.500000
 20       42  HN42  2820911.0  41.000000  59.100000    46.400000  43.600000
 21       43  HN43  1208518.0  54.000000  32.700000    58.600000  62.100000
 22      NaN   NaN        NaN        NaN        NaN          NaN        NaN
 23      NaN   NaN        NaN        NaN        NaN          NaN        NaN
 24      NaN   NaN        NaN        NaN        NaN          NaN        NaN
 25      NaN   NaN        NaN        NaN        NaN          NaN        NaN
 26  Average   NaN        NaN  38.818182  61.677273    54.063636  58.422727

           Hb   Hct           WBC  ...       TSH       FT4       FT3  Cortisol  \
 0   5.900000  18.0  18990.000000  ...      3.68      0.85      2.97      8.12
 1   8.400000  26.9  10140.000000  ...      1.58      1.03      2.83      10.4
 2   8.400000  25.9   8240.000000  ...       2.3      0.99      3.52      8.17
 3   9.000000  28.9  13130.000000  ...     0.813       0.9      2.72      14.9
 4   8.500000  26.6   7170.000000  ...      3.47      1.08      3.29      7.39
 5   5.700000  17.8   5640.000000  ...      5.25       0.9      2.76      10.9
 6   7.200000  24.1   6990.000000  ...      2.24      0.76      3.47      3.76
 7   8.100000  24.6   4280.000000  ...      0.95       0.9      3.15      6.39
 8   6.100000  20.7  12580.000000  ...      2.11      1.21      3.45      16.1
 9   6.500000  21.4   5280.000000  ...      1.77      0.73      2.56      10.2
 10  7.500000  24.4   9200.000000  ...      6.59      0.86      2.86      10.6
 11  5.300000  17.1   4870.000000  ...      1.94      0.91      2.59      10.6
 12  6.600000  22.2   7490.000000  ...      2.04      1.18      2.36      8.12
 13  6.600000  23.4  14360.000000  ...       2.9       1.2      2.93      14.8
 14  6.000000  19.1   2830.000000  ...      5.08       1.2      2.24      11.5
 15  8.500000  25.9   7760.000000  ...      1.62      0.89      2.45      6.28
 16  9.300000  29.2  10280.000000  ...     0.557      0.93      3.25      4.87
 17  7.100000  22.6   7820.000000  ...      5.56      1.08      2.73      12.7
 18  8.000000  25.8   5830.000000  ...       1.6      1.35      3.31      12.6
 19  7.300000  21.4  10840.000000  ...         -         -         -         -
 20  7.300000  23.5   6360.000000  ...      3.11      1.21      3.28      8.98
 21  4.400000  14.3   4100.000000  ...      4.01      1.22      2.55      6.68
 22       NaN   NaN           NaN  ...       NaN       NaN       NaN       NaN
 23       NaN   NaN           NaN  ...       NaN       NaN       NaN       NaN
 24       NaN   NaN           NaN  ...       NaN       NaN       NaN       NaN
 25       NaN   NaN           NaN  ...       NaN       NaN       NaN       NaN
 26  7.168182  22.9   8371.818182  ...  2.817619  1.018095  2.917619  9.717143

     ABO  Rh(D)   Albumin  Globulin  Code.1  typeBEvsBM
 0     O    Pos  4.000000  6.000000    HN05           E
 1     O    Pos       NaN       NaN    HN08           E
 2     O    Pos  4.600000  4.600000    HN09           E
 3     O    Pos  4.400000  3.900000    HN10           M
 4     O    Pos  5.100000  2.300000    HN11           M
 5     B    Pos       NaN       NaN    HN14           E
 6     O    Pos  3.600000  3.600000    HN15      AEBart
 7     O    Pos  4.400000  2.900000    HN18           E
 8     O    Pos  4.300000  3.100000    HN20           E
 9     O    Pos  4.500000  3.400000    HN21           E
 10    B    Pos  4.300000  4.000000    HN22           M
 11    A    Pos  4.600000  2.900000    HN26           E
 12    B    Pos  4.800000  3.700000    HN29           E
 13    B    Pos  5.000000  3.500000    HN30           E
 14    O    Pos  4.700000  3.500000    HN31           E
 15    O    Pos  4.700000  3.700000    HN33           E
 16    B    Pos  4.800000  2.900000    HN34           E
 17    B    Pos  4.600000  2.700000    HN35           E
 18    O    Pos       NaN       NaN    HN38           E
 19    -      -  4.500000  2.600000    HN41           M
 20    A    Pos  4.700000  3.100000    HN42           E
 21    B    Pos  4.100000  3.500000    HN43           M
 22  NaN    NaN       NaN       NaN     NaN         NaN
 23  NaN    NaN       NaN       NaN     NaN         NaN
 24  NaN    NaN       NaN       NaN     NaN         NaN
 25  NaN    NaN       NaN       NaN     NaN         NaN
 26  NaN    NaN  4.510526  3.468421     NaN         NaN

 [27 rows x 51 columns],
 'Normal':         No.   Code          PC PS activity    Free PS    Hb        Hct  \
 0         1  NBL00           -           -          -     -          -
 1         2  NBL01           -           -          -     -          -
 2         3  NBL02           -           -          -     -          -
 3         4  NBL03           -           -          -     -          -
 4         5  NBL04       122.3          83       84.3  10.6       34.9
 5         6  NBL05       119.1        44.9       75.8  13.9       42.3
 6         7  NBL06       107.6        67.2       77.9  13.8       42.7
 7         8  NBL07       109.4        45.1       44.4  12.4       41.6
 8         9  NBL08         137        65.7       97.7  13.2       41.6
 9        10  NBL09       137.6        46.7         82  11.2       36.4
 10       11  NBL10       114.7        66.1       83.8    13       42.1
 11       12  NBL11         156        94.7       91.5  13.7       42.6
 12       13  NBL12       122.9        60.9       91.3  13.5       41.4
 13       14  NBL13       116.4        66.8       91.9  12.6       38.8
 14       15  NBL14       134.4        64.8         78  13.2       40.7
 15       16  NBL15       118.8        62.5       74.5  13.9         44
 16       17  NBL16       127.8        54.7       78.5  13.2       42.2
 17       18  NBL17         129          40       59.3  12.7       39.6
 18       19  NBL18       119.8          60         90  11.4       37.6
 19       20  NBL19       120.3        60.9       65.1  14.3       46.1
 20       21  NBL20         121        57.6      109.8  14.7       44.2
 21       22  NBL21       102.1        76.3         86  14.5       45.4
 22       23  NBL22       104.7        73.2       82.4  15.2       46.2
 23       24  NBL23       102.2        49.5       38.7    13       42.6
 24      NaN    NaN         NaN         NaN        NaN   NaN        NaN
 25      NaN    NaN         NaN         NaN        NaN   NaN        NaN
 26  Average    NaN  123.122222   62.105556  81.211111  13.1  41.344444

             WBC Promyelocyte Myelocyte  ... Abs LY count      NRBC        RDW  \
 0             -            -         -  ...            -         -          -
 1             -            -         -  ...            -         -          -
 2             -            -         -  ...            -         -          -
 3             -            -         -  ...            -         -          -
 4          5600          NaN       NaN  ...         1900       0.2       14.6
 5          4060          NaN       NaN  ...         1390         0       12.7
 6          5450          NaN       NaN  ...         1920         0       13.6
 7          5540          NaN       NaN  ...         1820       0.2       19.1
 8          5770          NaN       NaN  ...         2360         0       13.8
 9          7500          NaN       NaN  ...         2300         0       12.9
 10         8450          NaN       NaN  ...         1780         0       14.1
 11        13160          NaN       NaN  ...         2900       0.1       20.4
 12         5560          NaN       NaN  ...         1910         0         13
 13        14120          NaN       NaN  ...         3810         0       12.9
 14         5050          NaN       NaN  ...         1710         0       13.3
 15         7250          NaN       NaN  ...         2470         0       13.6
 16         6460          NaN       NaN  ...         2890         0       13.4
 17         7120          NaN       NaN  ...         2120       0.1       12.6
 18         5470          NaN       NaN  ...         1910         0       13.8
 19         6590          NaN       NaN  ...         2460       0.2       13.6
 20         5410          NaN       NaN  ...         2140       0.2       13.1
 21         7450          NaN       NaN  ...         2170         0       13.9
 22         7960          NaN       NaN  ...         2220         0       13.8
 23         6410          NaN       NaN  ...         1980         0       18.2
 24          NaN          NaN       NaN  ...          NaN       NaN        NaN
 25          NaN          NaN       NaN  ...          NaN       NaN        NaN
 26  7000.555556          NaN       NaN  ...         2220  0.055556  14.133333

    Plt. Large cell ratio         PT       INR        PTT PTT Ratio       ADP  \
 0                      -          -         -          -         -         -
 1                      -          -         -          -         -         -
 2                      -          -         -          -         -         -
 3                      -          -         -          -         -      0.13
 4                   21.3       11.1      0.97       31.5      0.93      0.28
 5                   32.1       11.4      0.99       32.2      0.95      0.31
 6                   23.7       11.3      0.98       30.6       0.9      0.39
 7                      -       10.6      0.92       29.3      0.86      0.43
 8                     31        9.5      0.83       27.3      0.81     0.385
 9                   21.3        9.5      0.83         25      0.74     0.215
 10                  15.4       11.7      1.02       33.9         1      0.76
 11                     -       10.1      0.88       30.7      0.91      0.23
 12                  26.3        9.8      0.86       28.4      0.84      0.57
 13                  19.3       10.7      0.93       28.8      0.85      0.31
 14                  28.6        9.9      0.87       25.7      0.76      0.12
 15                  33.4       10.2      0.89       28.9      0.85      0.16
 16                  24.9        9.6      0.84       27.2       0.8      0.04
 17                  22.7        9.6      0.84       25.7      0.76      0.28
 18                  20.4       10.2      0.89         28      0.83     0.135
 19                  31.3       10.3       0.9         31      0.91     0.215
 20                  17.3       11.1      0.97         32      0.94      0.24
 21                  26.7       10.8      0.94         32      0.94      0.62
 22                  30.1        9.7      0.85         28      0.83      0.38
 23                  30.7        9.8      0.86       24.2      0.71      0.26
 24                   NaN        NaN       NaN        NaN       NaN       NaN
 25                   NaN        NaN       NaN        NaN       NaN       NaN
 26              24.73125  10.411111  0.908333  29.344444  0.865556  0.306316

     Collagen
 0          -
 1          -
 2          -
 3       0.91
 4      0.995
 5       0.13
 6       1.01
 7      1.115
 8       1.13
 9          1
 10      1.12
 11     1.115
 12     1.125
 13     1.065
 14     0.755
 15      1.11
 16      0.36
 17      1.13
 18     0.485
 19      1.14
 20     1.135
 21       1.1
 22       0.9
 23      0.84
 24       NaN
 25       NaN
 26  0.943684

 [27 rows x 35 columns]}

In [3]:
''''
subclass
Patients_‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°: Splenectomy
Patients_‡πÑ‡∏°‡πà‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°: No_Splenectomy
Normal
'''

dict_sheet =  ['Patients_‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°','Patients_‡πÑ‡∏°‡πà‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°']
lstdict_code  = []
for sheet in dict_sheet:
    df_sheet = dict_df[sheet]
    df_sheet["sheet"] = sheet
    dict_code = df_sheet[['Code','MCV', 'MCH', 'Hb', 'typeBEvsBM', 'sheet']]
    #dict_code = dict_code[dict_code['Code'].notna()]
    _dict_code = dict_code[(dict_code['Code'].notna())&(dict_code['MCV'].notna())&(dict_code['MCH'].notna())
                         &dict_code['Hb'].notna()]
    __dict_code = _dict_code[(_dict_code['MCV']!= '-')|(_dict_code['MCH']!= '-')
                         |(_dict_code['Hb']!= '-')]
    lstdict_code.append(__dict_code)
    print(dict_df[sheet].shape)

print(len(lstdict_code))
df_dictCode = pd.concat(lstdict_code, ignore_index=True)
df_dictCode["sheet"] = df_dictCode['sheet'].str.replace('Patients_‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°','Splenectomy')
df_dictCode["sheet"] = df_dictCode['sheet'].str.replace('Patients_‡πÑ‡∏°‡πà‡∏ï‡∏±‡∏î‡∏°‡πâ‡∏≤‡∏°','No_Splenectomy')
print(df_dictCode.shape)
df_dictCode.head()

(27, 52)
(27, 52)
2
(44, 6)

   Code   MCV   MCH   Hb typeBEvsBM        sheet
0  HN01  75.8  23.1  6.0          E  Splenectomy
1  HN02  73.5  22.4  7.2          E  Splenectomy
2  HN03  77.3  24.3  9.0          E  Splenectomy
3  HN04  79.8  25.6  7.6          E  Splenectomy
4  HN06  78.5  25.9  8.2          E  Splenectomy

In [4]:
print(len(list(set(df_dictCode["Code"]))))
print(set(df_dictCode["sheet"]))
print(set(df_dictCode["typeBEvsBM"]))

44
{'Splenectomy', 'No_Splenectomy'}
{'E', 'M', 'AEBart'}

In [5]:
df_dictCode.isnull().values.any()

False

In [6]:
#df_dictCode.to_csv("/home/kannika/code/Rheology2023/Rheology_Blood/All_lab_typeBEvsBM.csv")

In [98]:
EM_list = list(set(df_dictCode["typeBEvsBM"]))
EM_list.sort()
for j in range(len(EM_list)):
    classes_j = EM_list[j]
    df_j = df_dictCode[df_dictCode["typeBEvsBM"]==classes_j]
    print(f"[INFO]: Classes: {classes_j} ==> {df_j.shape[0]}")

[INFO]: Classes: AEBart ==> 2
[INFO]: Classes: E ==> 31
[INFO]: Classes: M ==> 11

> ### Map clasess "E, M"

In [99]:
DF_B_res_ML= pd.read_csv("/home/kannika/code/Rheology2023/Rheology_Blood/DataBlood_Viscosity_TrainML_3Fold_split3class.csv")
del DF_B_res_ML["fold"]
print(DF_B_res_ML.shape)
DF_B_res_ML.head()

(51, 8)

   Unnamed: 0   Code classes        subclass  classes_binary   MCV   MCH    Hb
0           0   HN35      HN  No_Splenectomy             1.0  74.3  23.4   7.1
1           1   HN38      HN  No_Splenectomy             1.0  72.9  22.6   8.0
2           2   HN43      HN  No_Splenectomy             1.0  57.4  17.7   4.4
3           3  NBL14     NBL          Normal             0.0  86.8  28.1  13.2
4           4  NBL23     NBL          Normal             0.0  66.5  20.3  13.0

In [100]:
## 1. Create Dict typeBEvsBM
df_dictCode_ = df_dictCode[df_dictCode["typeBEvsBM"]!='AEBart'].reset_index(drop=True)
lst_Code = df_dictCode_["Code"].tolist()
lst_EM = df_dictCode_["typeBEvsBM"].tolist()
dict_EM = zip(lst_Code, lst_EM)
output_EM = dict(dict_EM)
print(output_EM)

{'HN01': 'E', 'HN02': 'E', 'HN03': 'E', 'HN04': 'E', 'HN06': 'E', 'HN07': 'E', 'HN12': 'E', 'HN13': 'E', 'HN16': 'E', 'HN17': 'E', 'HN19': 'M', 'HN23': 'E', 'HN24': 'M', 'HN25': 'M', 'HN27': 'E', 'HN28': 'M', 'HN32': 'E', 'HN36': 'M', 'HN39': 'E', 'HN40': 'M', 'HN44': 'E', 'HN05': 'E', 'HN08': 'E', 'HN09': 'E', 'HN10': 'M', 'HN11': 'M', 'HN14': 'E', 'HN18': 'E', 'HN20': 'E', 'HN21': 'E', 'HN22': 'M', 'HN26': 'E', 'HN29': 'E', 'HN30': 'E', 'HN31': 'E', 'HN33': 'E', 'HN34': 'E', 'HN35': 'E', 'HN38': 'E', 'HN41': 'M', 'HN42': 'E', 'HN43': 'M'}

In [101]:
DF_B_res_ML["typeBEvsBM"]= DF_B_res_ML['Code'].map(output_EM)
DFML_EM = DF_B_res_ML[DF_B_res_ML['typeBEvsBM'].notna()]
print(set(DFML_EM["typeBEvsBM"]))
print(DFML_EM.shape)
DFML_EM.head()

{'E', 'M'}
(33, 9)

,Unnamed: 0,Code,classes,subclass,classes_binary,MCV,MCH,Hb,typeBEvsBM
0,0,HN35,HN,No_Splenectomy,1.0,74.3,23.4,7.1,E
1,1,HN38,HN,No_Splenectomy,1.0,72.9,22.6,8.0,E
2,2,HN43,HN,No_Splenectomy,1.0,57.4,17.7,4.4,M
6,6,HN17,HN,Splenectomy,1.0,75.0,25.0,7.1,E
7,7,HN12,HN,Splenectomy,1.0,75.4,24.1,9.8,E

In [102]:
EM_list = list(set(DFML_EM["typeBEvsBM"]))
EM_list.sort()
for j in range(len(EM_list)):
    classes_j = EM_list[j]
    df_j = DFML_EM[DFML_EM["typeBEvsBM"]==classes_j]
    print(f"[INFO]: Classes: {classes_j} ==> {df_j.shape[0]}")

[INFO]: Classes: E ==> 24
[INFO]: Classes: M ==> 9

In [15]:
#DFML_EM.to_csv("/home/kannika/code/Rheology2023/Rheology_Blood/All_lab_typeBEvsBM_Consist_2dFFTdata.csv")

In [103]:
list_code_2dfft = list(set(DFML_EM["Code"]))
list_code_2dfft.sort()
print("Number of Cases: ", len(list_code_2dfft))

Number of Cases:  33

> #### üíæ Split 3-Fold

- E:M = 8:3

In [104]:
import random

EM_list = list(set(DFML_EM["typeBEvsBM"]))
EM_list.sort()
DF_fold = pd.DataFrame(columns=list(DFML_EM.columns))

for j in range(len(EM_list)):
    classes_n = EM_list[j]
    if classes_n == "E":
        n=8
    elif classes_n == "M":
         n=3
    df_classes = DFML_EM[DFML_EM["typeBEvsBM"]==classes_n]
    print(f"[INFO]: [{j+1}].  For Classes {classes_n} With Shape ==> {df_classes.shape}")
    for i in range(1, 4):
        df_classes_ran = df_classes.sample(n, replace=False)
        df_classes.drop(index=df_classes_ran.index, inplace=True)
        df_classes_ran["fold"] = i
        DF_fold = DF_fold.append(df_classes_ran)
        if i == 3:
            #print(df_classes.shape[0])
            break
    df_classes["fold"] = 3
    DF_fold = DF_fold.append(df_classes)

[INFO]: [1].  For Classes E With Shape ==> (24, 9)
[INFO]: [2].  For Classes M With Shape ==> (9, 9)

/tmp/ipykernel_3651/2378620871.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_classes.drop(index=df_classes_ran.index, inplace=True)
/tmp/ipykernel_3651/2378620871.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes_ran)
/tmp/ipykernel_3651/2378620871.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_classes.drop(index=df_classes_ran.index, inplace=True)
/tmp/ipykernel_3651/2378620871.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes_ran)
/tmp/ipykernel_3651/2378620871.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_classes.drop(index=df_classes_ran.index, inplace=True)
/tmp/ipykernel_3651/2378620871.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes_ran)
/tmp/ipykernel_3651/2378620871.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes)
/tmp/ipykernel_3651/2378620871.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_classes.drop(index=df_classes_ran.index, inplace=True)
/tmp/ipykernel_3651/2378620871.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes_ran)
/tmp/ipykernel_3651/2378620871.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_classes.drop(index=df_classes_ran.index, inplace=True)
/tmp/ipykernel_3651/2378620871.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes_ran)
/tmp/ipykernel_3651/2378620871.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_classes.drop(index=df_classes_ran.index, inplace=True)
/tmp/ipykernel_3651/2378620871.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes_ran)
/tmp/ipykernel_3651/2378620871.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_fold = DF_fold.append(df_classes)

In [105]:
DF_fold = DF_fold.reset_index(drop=True)
print(DF_fold.shape)
DF_fold['fold'] = DF_fold['fold'].astype(int)
DF_fold.head()

(33, 10)

,Unnamed: 0,Code,classes,subclass,classes_binary,MCV,MCH,Hb,typeBEvsBM,fold
0,42,HN44,HN,Splenectomy,1.0,61.7,19.7,7.0,E,1
1,17,HN21,HN,No_Splenectomy,1.0,64.8,19.7,6.5,E,1
2,8,HN13,HN,Splenectomy,1.0,72.6,23.4,5.8,E,1
3,43,HN29,HN,No_Splenectomy,1.0,64.2,19.1,6.6,E,1
4,50,HN39,HN,Splenectomy,1.0,76.4,22.5,6.4,E,1

In [106]:
### Check fold
EM_list = list(set(DF_fold["typeBEvsBM"]))
EM_list.sort()
fold_list = list(set(DF_fold["fold"]))
fold_list.sort()
for j in range(len(fold_list)):
    fold_j = fold_list[j]
    df_fold_j = DF_fold[DF_fold["fold"]==fold_j]
    print(f"[INFO]: Fold-{fold_j}: {df_fold_j.shape[0]} Cases")
    for k in range(len(EM_list)):
        classes_k = EM_list[k]
        df_k = df_fold_j[df_fold_j["typeBEvsBM"]==classes_k]
        print(f"[INFO]: Classes: {classes_k} ==> {df_k.shape[0]}")
    print("="*125)

[INFO]: Fold-1: 11 Cases
[INFO]: Classes: E ==> 8
[INFO]: Classes: M ==> 3
=============================================================================================================================
[INFO]: Fold-2: 11 Cases
[INFO]: Classes: E ==> 8
[INFO]: Classes: M ==> 3
=============================================================================================================================
[INFO]: Fold-3: 11 Cases
[INFO]: Classes: E ==> 8
[INFO]: Classes: M ==> 3
=============================================================================================================================

In [111]:
DF_fold.to_csv("/home/kannika/code/Rheology2023/Rheology_Blood/DataBlood_Viscosity_TrainML_3Fold_EMclass.csv")

> #### Defind Fold

In [112]:
## 1. Create Dict fold
lst_Code = DF_fold["Code"].tolist()
lst_fold = DF_fold["fold"].tolist()
dict_fold = zip(lst_Code, lst_fold)
output_fold = dict(dict_fold)
print(output_fold)

{'HN44': 1, 'HN21': 1, 'HN13': 1, 'HN29': 1, 'HN39': 1, 'HN16': 1, 'HN18': 1, 'HN34': 1, 'HN35': 2, 'HN02': 2, 'HN26': 2, 'HN42': 2, 'HN01': 2, 'HN30': 2, 'HN33': 2, 'HN17': 2, 'HN20': 3, 'HN27': 3, 'HN31': 3, 'HN38': 3, 'HN23': 3, 'HN12': 3, 'HN14': 3, 'HN32': 3, 'HN24': 1, 'HN19': 1, 'HN41': 1, 'HN25': 2, 'HN28': 2, 'HN40': 2, 'HN43': 3, 'HN22': 3, 'HN36': 3}

In [113]:
## 2. Create Dict typeBEvsBM
lst_EM = DF_fold["typeBEvsBM"].tolist()
dict_EM = zip(lst_Code, lst_EM)
output_EM = dict(dict_EM)
print(output_EM)

{'HN44': 'E', 'HN21': 'E', 'HN13': 'E', 'HN29': 'E', 'HN39': 'E', 'HN16': 'E', 'HN18': 'E', 'HN34': 'E', 'HN35': 'E', 'HN02': 'E', 'HN26': 'E', 'HN42': 'E', 'HN01': 'E', 'HN30': 'E', 'HN33': 'E', 'HN17': 'E', 'HN20': 'E', 'HN27': 'E', 'HN31': 'E', 'HN38': 'E', 'HN23': 'E', 'HN12': 'E', 'HN14': 'E', 'HN32': 'E', 'HN24': 'M', 'HN19': 'M', 'HN41': 'M', 'HN25': 'M', 'HN28': 'M', 'HN40': 'M', 'HN43': 'M', 'HN22': 'M', 'HN36': 'M'}

In [114]:
DF_2dFFTOrigin = pd.read_csv("/home/kannika/code/Rheology2023/Rheology_Blood/Dataset_Rheology_Blood_Viscosity_HN_NBL-2dFFTdataset-3channels-6Fold.csv")
del DF_2dFFTOrigin["fold"]
print(DF_2dFFTOrigin.shape)
DF_2dFFTOrigin_ = DF_2dFFTOrigin[DF_2dFFTOrigin['subclass']!='Normal']
print("Classes: Not Normal ==> ", DF_2dFFTOrigin_.shape)
DF_2dFFTOrigin_.head()

(538, 11)
Classes: Not Normal ==>  (337, 11)

,Unnamed: 0.1,Unnamed: 0,image_name,image_path,image_folder,folder_source,classes,Code,subclass,dt,classes_binary
0,0,0,HN01_D0_30HZ_20XINF_UWELL_20221027_154439_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154439,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1
1,1,1,HN01_D0_30HZ_20XINF_UWELL_20221027_154831_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154831,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1
2,2,2,HN01_D0_30HZ_20XINF_UWELL_20221027_155220_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155220,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1
3,3,3,HN01_D0_30HZ_20XINF_UWELL_20221027_155642_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155642,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1
4,4,4,HN01_D0_30HZ_20XINF_UWELL_20221027_160124_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_160124,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1

In [115]:
##**3. Map typeBEvsBM
DF_2dFFTOrigin_["typeBEvsBM"]= DF_2dFFTOrigin_['Code'].map(output_EM)
print(set(DF_2dFFTOrigin_["typeBEvsBM"]))
DF_2dFFTOrigin_.head()

{nan, 'E', 'M'}

/tmp/ipykernel_3651/3304599483.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_2dFFTOrigin_["typeBEvsBM"]= DF_2dFFTOrigin_['Code'].map(output_EM)

,Unnamed: 0.1,Unnamed: 0,image_name,image_path,image_folder,folder_source,classes,Code,subclass,dt,classes_binary,typeBEvsBM
0,0,0,HN01_D0_30HZ_20XINF_UWELL_20221027_154439_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154439,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
1,1,1,HN01_D0_30HZ_20XINF_UWELL_20221027_154831_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154831,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
2,2,2,HN01_D0_30HZ_20XINF_UWELL_20221027_155220_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155220,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
3,3,3,HN01_D0_30HZ_20XINF_UWELL_20221027_155642_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155642,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
4,4,4,HN01_D0_30HZ_20XINF_UWELL_20221027_160124_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_160124,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E

In [116]:
DF_2dFFTEM = DF_2dFFTOrigin_[DF_2dFFTOrigin_['typeBEvsBM'].notna()]
print(set(DF_2dFFTEM["typeBEvsBM"]))
print(DF_2dFFTEM.shape)
DF_2dFFTEM.head()

{'E', 'M'}
(317, 12)

,Unnamed: 0.1,Unnamed: 0,image_name,image_path,image_folder,folder_source,classes,Code,subclass,dt,classes_binary,typeBEvsBM
0,0,0,HN01_D0_30HZ_20XINF_UWELL_20221027_154439_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154439,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
1,1,1,HN01_D0_30HZ_20XINF_UWELL_20221027_154831_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154831,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
2,2,2,HN01_D0_30HZ_20XINF_UWELL_20221027_155220_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155220,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
3,3,3,HN01_D0_30HZ_20XINF_UWELL_20221027_155642_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155642,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E
4,4,4,HN01_D0_30HZ_20XINF_UWELL_20221027_160124_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_160124,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E

In [117]:
##**4. Map Fold
DF_2dFFTEM["fold"]= DF_2dFFTEM['Code'].map(output_fold)
print(set(DF_2dFFTEM["fold"]))
DF_2dFFTEM.head()

{1, 2, 3}

/tmp/ipykernel_3651/2223037834.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_2dFFTEM["fold"]= DF_2dFFTEM['Code'].map(output_fold)

,Unnamed: 0.1,Unnamed: 0,image_name,image_path,image_folder,folder_source,classes,Code,subclass,dt,classes_binary,typeBEvsBM,fold
0,0,0,HN01_D0_30HZ_20XINF_UWELL_20221027_154439_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154439,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E,2
1,1,1,HN01_D0_30HZ_20XINF_UWELL_20221027_154831_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_154831,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E,2
2,2,2,HN01_D0_30HZ_20XINF_UWELL_20221027_155220_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155220,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E,2
3,3,3,HN01_D0_30HZ_20XINF_UWELL_20221027_155642_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_155642,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E,2
4,4,4,HN01_D0_30HZ_20XINF_UWELL_20221027_160124_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN01_D0_30HZ_20XINF_UWELL_20221027_160124,SSD_Backup,HN,HN01,Splenectomy,"[2, 5, 7]",1,E,2

In [118]:
print(DF_2dFFTEM.shape)
DF_2dFFTEM.isnull().values.any()

(317, 13)

False

In [119]:
list_code_2dfft = list(set(DF_2dFFTEM["Code"]))
list_code_2dfft.sort()
print("Number of Cases: ", len(list_code_2dfft))

Number of Cases:  33

In [120]:
set(lst_Code) - set(list_code_2dfft)

set()

In [121]:
set(list_code_2dfft) - set(lst_Code)

set()

In [122]:
## Check
def _(DataSet):
    lst_fold = list(set(DataSet["fold"]))
    lst_fold.sort()
    for j in range(len(lst_fold)):
        df_classes = DataSet[DataSet["fold"]==lst_fold[j]]
        Class_folder = list(set(df_classes["image_folder"]))
        lst_folder = list(set(df_classes["fold"]))
        print(f"[INFO]: [{j+1}].  Fold {lst_fold[j]} With Shape ==> {len(Class_folder)} Folder, {df_classes.shape}")
        print("Check 3-Fold With Class:")
        lst_cls = list(set(df_classes['typeBEvsBM']))
        print(f"Number of Classes {len(lst_cls)} Class ==> {lst_cls}")
        for m in lst_cls:
            df_f =  df_classes[df_classes["typeBEvsBM"]==m]
            list_folder = list(set(df_f["image_folder"]))
            list_code =  list(set(df_f["Code"]))
            print(f"[INFO]:  Classse {m} ==> With {len(list_folder)} Folder, {df_f.shape[0]} images!! ==> {len(list_code)} PerSon!!")
        print("="*100)
    
    return

In [123]:
_(DF_2dFFTEM)

[INFO]: [1].  Fold 1 With Shape ==> 96 Folder, (96, 13)
Check 3-Fold With Class:
Number of Classes 2 Class ==> ['E', 'M']
[INFO]:  Classse E ==> With 68 Folder, 68 images!! ==> 8 PerSon!!
[INFO]:  Classse M ==> With 28 Folder, 28 images!! ==> 3 PerSon!!
====================================================================================================
[INFO]: [2].  Fold 2 With Shape ==> 114 Folder, (114, 13)
Check 3-Fold With Class:
Number of Classes 2 Class ==> ['E', 'M']
[INFO]:  Classse E ==> With 86 Folder, 86 images!! ==> 8 PerSon!!
[INFO]:  Classse M ==> With 28 Folder, 28 images!! ==> 3 PerSon!!
====================================================================================================
[INFO]: [3].  Fold 3 With Shape ==> 107 Folder, (107, 13)
Check 3-Fold With Class:
Number of Classes 2 Class ==> ['E', 'M']
[INFO]:  Classse E ==> With 75 Folder, 75 images!! ==> 8 PerSon!!
[INFO]:  Classse M ==> With 32 Folder, 32 images!! ==> 3 PerSon!!
====================================================================================================

In [124]:
lst_fold = list(set(DF_2dFFTEM["fold"]))
lst_fold.sort()
len_EM = list()
for j in range(len(lst_fold)):
    df_fold = DF_2dFFTEM[DF_2dFFTEM["fold"]==lst_fold[j]]
    lst_cls = list(set(df_fold['typeBEvsBM']))
    lst_cls.sort()
    for m in lst_cls:
        df_f =  df_fold[df_fold["typeBEvsBM"]==m]
        len_EM.append(df_f.shape[0])

In [125]:
print(len_EM)
print(min(len_EM))

[68, 28, 86, 28, 75, 32]
28

In [188]:
# def Splitfold(classes, DF_2dFFTEM):
#     len_EM=28
#     if classes == "E":
#         n = 3 ## Classes E
#     else:
#         nM = 8 # Classes M
#     Dataset_all = list()
#     for j in range(len(lst_fold)):
#         #Dataset_fold = pd.DataFrame(columns=list(DF_2dFFTEM.columns))
#         Dataset_foldE = pd.DataFrame(columns=list(DF_2dFFTEM.columns))
#         print(f"[INFO]: Fold-{lst_fold[j]}")
#         df_fold = DF_2dFFTEM[DF_2dFFTEM["fold"]==lst_fold[j]]
#         df_E =  df_fold[df_fold["typeBEvsBM"]==classes]
#         code_lstE = list(set(df_E["Code"]))
#         code_lstE.sort()
#         for n in range(len(code_lstE)):
#             df_E_code = df_E[df_E["Code"]==code_lstE[n]]
#             df_E_code_ran = df_E_code.sample(n, replace=False)
#             Dataset_foldE = Dataset_foldE.append(df_E_code_ran)
#             df_E.drop(index=df_E_code_ran.index, inplace=True)       
#         df_E_code_ran = df_E.sample(len_EM-len(Dataset_foldE), replace=False)
#         Dataset_foldE = Dataset_foldE.append(df_E_code_ran)
#         Dataset_all.append(Dataset_foldE)
        
#     result = pd.concat(Dataset_all, ignore_index=True)
    
#     return result

In [189]:
# ## 1. Classes ==> BE 
# classes = "E"
# result_E = Splitfold(classes, DF_2dFFTEM)
# print(result_E.shape)
# print(set(result_E["fold"]))
# print(set(result_E["typeBEvsBM"]))
# print(len(list(set(result_E["Code"]))), "Cases")
# result_E.head()

In [190]:
# ## 2. Classes ==> BM
# classes = "M"
# result_M = Splitfold(classes, DF_2dFFTEM)
# print(result_M.shape)
# print(set(result_M["fold"]))
# print(set(result_M["typeBEvsBM"]))
# print(len(list(set(result_M["Code"]))), "Cases")
# result_E.head()

In [191]:
# result = pd.concat([result_E, result_M], ignore_index=True)
# print(result.shape)
# result.head()

In [192]:
# _(result)

In [184]:
Dataset = pd.DataFrame(columns=list(DF_2dFFTEM.columns))
for j in range(len(lst_fold)):
    df_fold_m = DF_2dFFTEM[DF_2dFFTEM["fold"]==lst_fold[j]]
    lst_cls = list(set(df_fold['typeBEvsBM']))
    lst_cls.sort()
    for m in lst_cls:
        df_f =  df_fold_m[df_fold_m["typeBEvsBM"]==m]
        df_classes_ran = df_f.sample(min(len_EM), replace=False)
        #df_classes.drop(index=df_classes_ran.index, inplace=True)
        Dataset = Dataset.append(df_classes_ran)

/tmp/ipykernel_3651/503871875.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Dataset = Dataset.append(df_classes_ran)
/tmp/ipykernel_3651/503871875.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Dataset = Dataset.append(df_classes_ran)
/tmp/ipykernel_3651/503871875.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Dataset = Dataset.append(df_classes_ran)
/tmp/ipykernel_3651/503871875.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Dataset = Dataset.append(df_classes_ran)
/tmp/ipykernel_3651/503871875.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Dataset = Dataset.append(df_classes_ran)
/tmp/ipykernel_3651/503871875.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Dataset = Dataset.append(df_classes_ran)

In [185]:
print(Dataset.shape)
print(set(Dataset["fold"]))
Dataset.head()

(168, 13)
{1, 2, 3}

,Unnamed: 0.1,Unnamed: 0,image_name,image_path,image_folder,folder_source,classes,Code,subclass,dt,classes_binary,typeBEvsBM,fold
185,185,185,HN29_D0_30HZ_20XINF_UWELL_25660117_150029_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN29_D0_30HZ_20XINF_UWELL_25660117_150029,SSD_Backup,HN,HN29,No_Splenectomy,"[2, 5, 7]",1,E,1
278,278,278,HN39_D0_30HZ_20XINF_UWELL_25660223_151435_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN39_D0_30HZ_20XINF_UWELL_25660223_151435,SSD_Backup,HN,HN39,Splenectomy,"[2, 5, 7]",1,E,1
280,280,280,HN39_D0_30HZ_20XINF_UWELL_25660223_151842_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN39_D0_30HZ_20XINF_UWELL_25660223_151842,SSD_Backup,HN,HN39,Splenectomy,"[2, 5, 7]",1,E,1
286,286,286,HN39_D0_30HZ_20XINF_UWELL_25660223_153102_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN39_D0_30HZ_20XINF_UWELL_25660223_153102,SSD_Backup,HN,HN39,Splenectomy,"[2, 5, 7]",1,E,1
48,48,48,HN13_D0_30HZ_20XINF_UWELL_25651124_144313_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN13_D0_30HZ_20XINF_UWELL_25651124_144313,SSD_Backup,HN,HN13,Splenectomy,"[2, 5, 7]",1,E,1

In [194]:
Dataset = Dataset.reset_index(drop=True)
typeBEvsBM_binary  = list()
for i in range(len(Dataset)):
    if Dataset["typeBEvsBM"][i] == "E" : 
        typeBEvsBM_binary.append(0)
    else:
        typeBEvsBM_binary.append(1)
print(len(typeBEvsBM_binary))
typeBEvsBM_binary

168

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [195]:
Dataset["typeBEvsBM_binary"]=typeBEvsBM_binary
print(Dataset.shape)
Dataset.head()

(168, 14)

,Unnamed: 0.1,Unnamed: 0,image_name,image_path,image_folder,folder_source,classes,Code,subclass,dt,classes_binary,typeBEvsBM,fold,typeBEvsBM_binary
0,185,185,HN29_D0_30HZ_20XINF_UWELL_25660117_150029_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN29_D0_30HZ_20XINF_UWELL_25660117_150029,SSD_Backup,HN,HN29,No_Splenectomy,"[2, 5, 7]",1,E,1,0
1,278,278,HN39_D0_30HZ_20XINF_UWELL_25660223_151435_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN39_D0_30HZ_20XINF_UWELL_25660223_151435,SSD_Backup,HN,HN39,Splenectomy,"[2, 5, 7]",1,E,1,0
2,280,280,HN39_D0_30HZ_20XINF_UWELL_25660223_151842_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN39_D0_30HZ_20XINF_UWELL_25660223_151842,SSD_Backup,HN,HN39,Splenectomy,"[2, 5, 7]",1,E,1,0
3,286,286,HN39_D0_30HZ_20XINF_UWELL_25660223_153102_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN39_D0_30HZ_20XINF_UWELL_25660223_153102,SSD_Backup,HN,HN39,Splenectomy,"[2, 5, 7]",1,E,1,0
4,48,48,HN13_D0_30HZ_20XINF_UWELL_25651124_144313_dt2_...,/media/HDD/rheology2023/Blood_Viscosity_2dFFT/...,HN13_D0_30HZ_20XINF_UWELL_25651124_144313,SSD_Backup,HN,HN13,Splenectomy,"[2, 5, 7]",1,E,1,0

In [196]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       168 non-null    object
 1   Unnamed: 0         168 non-null    object
 2   image_name         168 non-null    object
 3   image_path         168 non-null    object
 4   image_folder       168 non-null    object
 5   folder_source      168 non-null    object
 6   classes            168 non-null    object
 7   Code               168 non-null    object
 8   subclass           168 non-null    object
 9   dt                 168 non-null    object
 10  classes_binary     168 non-null    object
 11  typeBEvsBM         168 non-null    object
 12  fold               168 non-null    object
 13  typeBEvsBM_binary  168 non-null    int64
dtypes: int64(1), object(13)
memory usage: 18.5+ KB

In [198]:
_(Dataset)

[INFO]: [1].  Fold 1 With Shape ==> 56 Folder, (56, 14)
Check 3-Fold With Class:
Number of Classes 2 Class ==> ['E', 'M']
[INFO]:  Classse E ==> With 28 Folder, 28 images!! ==> 8 PerSon!!
[INFO]:  Classse M ==> With 28 Folder, 28 images!! ==> 3 PerSon!!
====================================================================================================
[INFO]: [2].  Fold 2 With Shape ==> 56 Folder, (56, 14)
Check 3-Fold With Class:
Number of Classes 2 Class ==> ['E', 'M']
[INFO]:  Classse E ==> With 28 Folder, 28 images!! ==> 8 PerSon!!
[INFO]:  Classse M ==> With 28 Folder, 28 images!! ==> 3 PerSon!!
====================================================================================================
[INFO]: [3].  Fold 3 With Shape ==> 56 Folder, (56, 14)
Check 3-Fold With Class:
Number of Classes 2 Class ==> ['E', 'M']
[INFO]:  Classse E ==> With 28 Folder, 28 images!! ==> 8 PerSon!!
[INFO]:  Classse M ==> With 28 Folder, 28 images!! ==> 3 PerSon!!
====================================================================================================

In [199]:
Dataset.to_csv("/home/kannika/code/Rheology2023/Rheology_Blood/Dataset_Blood_Viscosity-2dFFTdataset-3channels-3Fold-EMClasses.csv")